{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block main_class %}category-form{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            {#            <form class="col-12 col-md-6"> #}
            {{ form_start(categoryForm, {'attr':{'class':'col-12 col-md-6'}}) }}
            <div class="row">
                <div class="col-12">
                    <h2 class="page-title">Ajout d'une nouvelle musique</h2>
                </div>
                <div class="col-12 mb-3">
{#                    <label for="name" class="form-label">Nom de la catégorie</label>#}
                    {{ form_label(categoryForm.name) }}
{#                    <input type="text" class="form-control" id="name">#}
                    {{ form_widget(categoryForm.name) }}
                    {{ form_errors(categoryForm.name) }}
                </div>
                <div class="col-12 d-flex justify-content-end pt-5">
                    <input type="submit" class="btn outline-btn" value="AJOUTER">
                    <a href="{{ path('app_category') }}" class="btn solid-btn ms-3">ANNULER</a>
                </div>
            </div>
            {#            </form> #}
            {{ form_end(categoryForm) }}
            <div class="col-6"></div>
        </div>
    </div>
{% endblock %}

